body{
	font-family: Arial, sans-serif;
}
h1{
	font-size: 5vw;
}
p{
	font-size: 2rem;
}
.heart {
  background-color: red;
  display: inline-block;
  height: 60px;
  margin: 20px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 60px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: inherit;
  border-radius: 50%;
  height: 60px;
  position: absolute;
  width: 60px;
}
.heart:before {
  top: -30px;
  left: 0;
}
.heart:after {
  left: 30px;
  top: 0;
}

@media only screen and (max-width: 1600px) {
  body {
    background-color: lightblue;
  }
  .heart{
  	background-color: yellow;
    transform: rotate(30deg);
  }
}
@media only screen and (max-width: 1500px){
  body {
    background-color: black;
    color: green;
  }
  .heart {
    background-color: aqua;
    transform: rotate(45deg);
  }
}
@media only screen and (max-width: 1400px){
  .heart {
    background-color: pink;
  }
  .heart:hover {
    background-color: red;
    transform: rotate(-45deg);
    filter: blur(0.5vw);
  }

  h1 {
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }

  p {
    color: white;
    font-weight: bold;
  }

}
@media only screen and (max-width: 1600px){

}
@media only screen and (max-width: 1200px){
  body{
    background-color: pink;
  }
  
  .heart{
    background-color: black;
    transform: rotate(-45deg);
  }

  .heart:hover {
    background-color: hotpink;
    transform: rotate(-45deg);
    filter: blur(0.5vw);
  }

  h1{
    color:hotpink;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width:1.5px;
    font-style:italic;
  }

  h1:hover{
  color:black;
  font-style:normal;
}
  p{
    color:black;
    font-size:1.5rem;
    text-decoration: underline dotted 3px;
  }

  p:hover{
    font-style: italic;
  }
}

@media only screen and (max-width: 1100px){
  body {
    background-color: rgb(121, 4, 102);
    color: rgb(255, 58, 225);
  }
  .heart {
    background-color: rgb(255, 0, 51);
    border: 1px solid rgba(0, 0, 0, 0);
  transform: skewY(20deg);
  }

}
@media only screen and (max-width: 1000px){
body {
  background-color: lightpink;
}
.heart{
  background-color: hotpink;
  transform: rotate(90deg);
  transition: transform 1000ms ease-in-out,filter 1000ms ease-in-out, background-color 1000ms ease-in-out;
}
.heart: hover{
background-color: red;
transform: rotate(270deg);
filter: blur(10px);
}
h1{
  font-size: 300%;
  font-family: monospace;
  color: blue;
}
h1: hover{
  color: white;
}
body{
  font-family: monospace;
}
}
@media only screen and (max-width: 900px){

}
@media only screen and (max-width: 800px){

.heart {
  background-color:lightgrey;
  filter: drop-shadow(5px 5px darkgrey);
  height: 30px;
  width: 30px;
  animation: heart 1s infinite alternate ease-in-out;
}

body {
  background-color: black;
}
h1 {
  font-family:'bungee';
  color: white;
}
p {
  font-family:'bungee';
  color:white;
}
@keyframes heart{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
}
@media only screen and (max-width: 700px){
  body{
    background-color: aquamarine;
  }
  
  .heart{
    background-color: indigo;
    transform: rotate(-30deg);
    height: 45px;
    width: 45px;
    filter: drop-shadow(5px 5px white);
  }

  .heart:hover {
    background-color: azure;
    transform: rotate(-30deg);
    filter: blur(0.2vw);
  }

  h1{
    color:azure;
    -webkit-text-stroke-color: aqua;
    -webkit-text-stroke-width:1.5px;
    font-style:italic;
  }

  p{
    color:black;
    font-size:1.5rem;
    text-decoration: underline dotted 2px;
  }

}
@media only screen and (max-width: 600px){

}
@media only screen and (max-width: 500px){

}
@media only screen and (max-width: 400px){
.heart {
  background-color: pink;
  display: inline-block;
  height: 60px;
  margin: 10px;
  position: relative;
  top: 20px;
  width: 30px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: inherit;
  border-radius: 50%;
  height: 60px;
  position: absolute;
  width: 60px;
}
.heart:before {
  top: -30px;
  left: 0;
}
.heart:after {
  left: 30px;
  top: 0;
}
}
@media only screen and (max-width: 600px){

}
@media only screen and (max-width: 200px){

}
